.usuariaCard {
  position: relative;

  width: var(--larguraFotoCard);

  border: 0.1rem solid var(--roxoEscuro);
  border-radius: var(--bordaArredondada);

  & > div > img:last-of-type {
    width: 100%;
  }

  & > div:last-of-type {
    padding: 0.5vh 1.5vw 2vh 1.5vw;

    & > div:first-of-type {
      display: flex;

      font-size: 130%;
    }

    & .objetivoDiv {
      margin: 2vh 0;
    }

    & .esportesDiv {
      & ul {
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
      }
    }
  }
}

.objetivoDiv,
.esportesDiv {
  & > p:first-of-type {
    font-weight: 400;
  }
}

.objetivoDiv > p:last-of-type,
.esportesDiv li {
  background-color: var(--roxoEscuro);
  color: var(--branco);

  width: fit-content;

  margin-top: 0.7vh;
  padding: 0.4vw;

  border-radius: var(--bordaArredondada);
}

.iconeFechar {
  width: 2vw;
  height: 2vw;

  position: absolute;
  right: 1vh;
  top: 1vh;
}

.acoesUsuariaCard {
  width: var(--larguraFotoCard);
  top: calc(var(--larguraFotoCard) - 7.5vw);
  padding: 0 1.5vh;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  position: absolute;

  & > div:last-of-type {
    display: flex;
    gap: 1vw;
  }
}

.iconeDistancia {
  background-color: var(--branco);

  border-radius: var(--bordaArredondada);

  display: flex;
  align-items: center;
  gap: 0.5vw;

  padding: 0.1vh 0.3vw;
}

.iconeChat,.iconeInfo {
  width: 6vw;
  height: 6vw;
}

.iconeFechar,
.iconeChat,
.iconeInfo {
  cursor: pointer;

  transition: .4s;

  &:hover{
    transform: scale(1.1);
    filter: brightness(1.3);
  }
}
