#profissionais,
#textoAreaProfissional {
  width: 50vw;
}

#profissionais {
  border-radius: var(--bordaArredondada);
}

#textoAreaProfissional {
  margin: auto;
  margin-bottom: 6vh;

  & > p {
    margin-top: 2vh;

    & > span {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

@media (max-width: 430px) {
  #profissionais,
  #textoAreaProfissional {
    width: 90%;
  }
}
