.CaixaVisuPerfil {
  background-color: rgb(236, 234, 228);
  width: 846px;
  height: 734px;
  border-radius: 25px;
  margin: 5vh auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.imagemPerfil {
  width: 275px;
  height: 275px;
  margin-right: 20px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 30px;
}

.imagemNome {
  display: flex;
  align-items: center;
}

.brenda {
  color: #bb529f;
  margin-top: -150px;
  margin-left: 10px;
}

.Localizacao {
  color: #6e6e6e;
  margin-left: -220px;
  margin-top: -90px;
}

.disponivel {
  color: rgb(45, 223, 45);
  margin-left: -155px;
  margin-top: -40px;
}

.descricao {
  color: #6e6e6e;
  margin-top: 150px;
  margin-left: 25px;
}

.interesses {
  color: #bb529f;
  font-size: 25px;
  font-weight: normal;
  margin-left: 30px;
  margin-top: 50px;
}

.interessesDiv {
  display: flex;
}

.futebol {
  background-color: #d9d9d9;
  border-radius: 10px;
  color: #6e6e6e;
  width: 168px;
  height: 30px;
  border: 2px solid #bb529f;
  text-align: center;
  margin-top: 15px;
  margin-left: 20px;
}

.informacoes {
  color: #bb529f;
  font-weight: normal;
  text-align:end;
  margin-top: -8vh;
  margin-right: 1vw;
  font-size: 20px;
}

.RedesSociais {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.insta {
  color: #6e6e6e;
  filter: blur(2px);
  margin-left: 20px;
  margin-top: 20px;
}

.X {
  color: #6e6e6e;
  filter: blur(2px);
  margin-left: 20px;
}

.wpp {
  color: #6e6e6e;
  filter: blur(2px);
  margin-left: 20px;
}

.SimboloInsta {
  background-color: #bb529f;
  border-radius: 10px;
  width: 28px;
  height: 28px;
  margin-left: 600px;
  margin-top: 20px;
}

.SimboloX {
  background-color: #bb529f;
  border-radius: 10px;
  width: 28px;
  height: 28px;
  margin-left: 600px;
}

.ImagemWpp {
  background-color: #bb529f;
  border-radius: 10px;
  width: 28px;
  height: 28px;
  margin-left: 600px;
}

.coracao {
  width: 39px;
  height: 39px;
}

.match {
  background-color: #f1b0e1;
  height: 63px;
  width: 63px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 330px;
  margin-top: -130px;
}
