#depoimentosLista {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;

  gap: 2vw;

  margin-bottom: 8vh;
}

.depoimentoCartao {
  display: flex;

  width: 44vw;

  & > img {
    width: 15vw;
    object-fit: cover;
    
    border: 0.1rem solid var(--roxoEscuro);

    border-radius: var(--bordaArredondada) 0 0 var(--bordaArredondada);
  }

  & > div {
    border: 0.1rem solid var(--roxoEscuro);
    border-left: 0;
    border-radius: 0 var(--bordaArredondada) var(--bordaArredondada) 0;

    padding: 2vw;

    text-align: start;

    background: linear-gradient(60deg,var(--roxoMedio),var(--roxoEscuro)) ;
    color: var(--branco)
  }

  & ul {
    list-style: none;
  }
}

.nomeEAvaliacao {
  width: 100%;

  display: flex;
  justify-content: space-between;

  margin-bottom: 1vh;
}

.pessoaNome {
  font-weight: bold;
  letter-spacing: .07rem;
}

.estrelasLista{
  display: flex;
  gap: .6vw;
}

@media (max-width: 430px) {
  .depoimentoCartao{
    width: 100%;

    &>img{
      width: 35%;
    }

    & > div {
      padding: 3vh 4vw;
    }
  }

  .estrelasLista svg{
    width: .8rem;
  }
}
