@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* RESETANDO O CSS */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* CSS PERSONALIZADO */
:root {
  --roxoEscuro: #671c61;
  --roxoMedio: #bb529f;
  --roxoClaro: #e290d7;
  --roxoTranslucido: #fff4ff;

  --branco: #fff;
  --preto: #000;

  --bordaArredondada: 0.4rem;

  --larguraFotoCard: 21vw;
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;

  background-color: var(--branco);
  color: var(--roxoEscuro);
}

.barraDeNavegacao {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 2.5vw;

  color: white;

  & > li > a {
    color: white;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 0.5vw;
  }
}

.botaoBranco,
.botaoRoxo {
  cursor: pointer;

  margin-top: 6vh;
  padding: 0.7vh 4vw;

  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;

  border-radius: var(--bordaArredondada);
  filter: drop-shadow(0px 1px 1px rgb(142, 142, 142));

  transition: ease-in-out 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.botaoBranco {
  font-size: 1rem;

  background-color: var(--branco);
  color: var(--roxoMedio);
  font-family: inherit;
  font-weight: bold;
  padding: 0.7vh 1.8vw;
  margin: 0;

  &:hover {
    background-color: var(--roxoTranslucido);
  }
}

.botaoRoxo {
  font-size: 120%;

  background-color: var(--roxoEscuro);
  color: var(--branco);

  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: var(--roxoMedio);
  }
}

.fonteTitulo {
  font-family: "Roboto", sans-serif;
}

.marginBottomTitulo {
  margin-bottom: 4vw;
}

.textoMaiusculo {
  text-transform: uppercase;
}

.corRoxo {
  color: var(--roxoEscuro);
}

.paddingPadrao {
  padding: 4vw;
}

.displayFlex {
  display: flex;
  justify-content: space-between;

  gap: 2vw;

  flex-wrap: wrap;
}

.centralizarElementos {
  text-align: center;
}

#rodape {
  background-color: var(--branco);

  & h3 {
    margin-bottom: 1vh;
  }

  & > div {
    display: flex;
    justify-content: space-between;

    & > div:first-of-type {
      display: flex;
      gap: 1.5rem;

      & > img {
        width: 13vw;
        object-fit: contain;

        aspect-ratio: 1/1;
      }
    }
  }

  & ul {
    list-style: none;

    & a {
      text-decoration: none;
    }
  }

  & > p {
    text-align: center;
    margin-top: 2vh;
  }
}

.navegadorRodape {
  & a {
    text-decoration: none;
    color: var(--preto);

    &:hover {
      color: var(--roxoMedio);
    }
  }
}

#redesSociaisRodape {
  width: 40%;

  display: flex;
  justify-content: space-between;
  gap: 1rem;

  > li {
    border-radius: 50%;
    transition: ease-in-out 0.5s;

    > :hover {
      transform: translateY(-1vh);
      border-radius: 50%;
      transition: ease-in-out 0.5s;
    }
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5vw;
    height: auto;

    padding: 0.6rem 0.4rem;

    text-decoration: none;
  }

  & svg {
    width: 2rem;
    height: 2rem;

    color: var(--roxoMedio);
  }
}

/* RESPONSIVE DESIGN

Mobile references:
iPhone 12 Pro: 390px 
iPhone 14 Pro Max: 430px 
Samsung Galaxy S8+: 360px
Samsung Galaxy S20 Ultra: 412px

Microsoft - Screen sizes and breakpoints:
Small (smaller than 640px)
Medium (641px to 1007px)
Large (1008px and larger) */

@media (max-width: 740px) {
  .barraDeNavegacao > li > a > p {
    display: none;
  }
}

@media (max-width: 430px) {
  .paddingPadrao {
    padding: 10vw;
  }

  section {
    & > h2 {
      font-size: 120%;
    }
  }

  .botaoRoxo {
    font-size: 120%;

    margin-top: 4vh;
    margin-bottom: 1vh;
  }

  #rodape {
    text-align: center;
  }

  #rodape img {
    width: 80% !important;
    height: 8vh;
    align-self: center;
  }

  #rodape > div {
    display: flex;
    flex-direction: column;
    gap: 4vh;
  }

  #rodape > div > div {
    display: flex;
    flex-direction: column;
  }

  #redesSociaisRodape {
    width: 100%;

    margin-bottom: 2vh;

    & > li {
      width: 25%;

      display: flex;
      justify-content: center;

      & > a {
        width: 4rem;
      }
    }
  }
}
