@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* RESETANDO O CSS */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* CSS PERSONALIZADO */
:root {
  --verdeEscuro: #119784;
  --verdeMedio: #32bb9d;
  --verdeClaro: #befbe8;
  --verdeTranslucido: #ecfdfa;

  --rosaClaro: #febdc3;
  --rosaMedio: #dc7c91;
  --rosaEscuro: #e35c7c;

  --branco: #fff;

  --roxo: #c979ac;

  --bordaArredondada: 0.4rem;
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;

  background-color: var(--verdeTranslucido);
}

.marca {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;

  color: var(--verdeEscuro);
}

.botaoBranco,
.botaoRosa,
.botaoVerde {
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;

  border-radius: var(--bordaArredondada);
  filter: drop-shadow(0px 1px 1px rgb(142, 142, 142));

  transition: ease-in-out 0.3s;
}

.botaoBranco,
.botaoVerde {
  font-size: 120%;

  margin-top: 6vh;
  padding: 0.7vh 4vw;

  text-transform: uppercase;
}

.botaoBranco {
  background-color: var(--branco);
  color: var(--rosaEscuro);

  &:hover {
    background-color: var(--roxo);
    color: var(--branco);
  }
}

.botaoRosa {
  background-color: var(--rosaMedio);
  color: var(--branco);
  font-family: inherit;
  font-weight: bold;
  padding: 0.7vh 1.8vw;

  &:hover {
    background-color: var(--rosaEscuro);
  }
}

.botaoVerde {
  background-color: var(--verdeEscuro);
  color: #fff;

  &:hover {
    background-color: var(--verdeMedio);
  }
}

.fonteTitulo {
  font-family: "Merriweather", serif;
}

.marginBottomTitulo {
  margin-bottom: 4vw;
}

.textoMaiusculo {
  text-transform: uppercase;
}

.corBranco {
  color: var(--branco);
}

.corVerdeEscuro {
  color: var(--verdeEscuro);
}

.paddingPadrao {
  padding: 4vw;
}

.displayFlex {
  display: flex;
  justify-content: space-between;

  gap: 2vw;

  flex-wrap: wrap;
}

.centralizarElementos {
  text-align: center;
}
