header {
  background-color: #befbe8;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5vh 3vw .5vh 2vw;

  & .marca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 1rem;
  }

  & img {
    width: 8vw;
    aspect-ratio: 1/1;
  }
}
