header {
  background: linear-gradient(var(--roxoMedio),var(--roxoEscuro));

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5vh 4vw .5vh 3.5vw;

  & img {
    width: 15vw;
    height: 7vh;
    object-fit: contain;
  }
}


@media (max-width: 430px) {
  header{
    height: 7vh;

    & img{
      width: auto;
      height: 65%;
    }
  }
}